<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <!-- 连接MySql数据库，下面两种方式都可以，还有一种是连接在DBHelperMySQL中的连接字符串 -->
    <!--方法一：-->
    <!--主数据库 能源库 原始库 支路库 分户库 meter库-->
  <add name="constr_ems" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.12.100;port=3306;Initial Catalog=bnse_ems;uid=bnse;pwd=123456" />
    <add name="constr_energydata" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.12.100;port=3306;Initial Catalog=bnse_energydata;uid=bnse;pwd=123456" />
    <add name="constr_originaldata" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.12.100;port=3306;Initial Catalog=bnse_originaldata;uid=bnse;pwd=123456" />
    <add name="constr_servicedata" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.12.100;port=3306;Initial Catalog=bnse_servicedata;uid=bnse;pwd=123456" />
    <add name="constr_tenementdata" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.12.100;port=3306;Initial Catalog=bnse_tenementdata;uid=bnse;pwd=123456" />
    <add name="constr_meterdata" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.12.100;port=3306;Initial Catalog=bnse_meterdata;uid=bnse;pwd=123456" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <defaultDocument>
      <files>
                <clear />
                <add value="login.html" />
                <add value="index2.html" />
      </files>
    </defaultDocument>
        <directoryBrowse enabled="false" />
    
  </system.webServer>
</configuration>
<!--ProjectGuid: AC362230-4FE6-40BE-B822-082B777EDAA7-->
